@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keyframes for scrolling */
/* Keyframes for scrolling left to right */
@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Keyframes for scrolling right to left */
@keyframes scrollLoopReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Continuous scrolling animation */
.animate-loop {
  display: flex;
  white-space: nowrap;
  animation: scrollLoop 9s linear infinite;
}

/* Continuous reverse scrolling animation */
.animate-loop-reverse {
  display: flex;
  white-space: nowrap;
  animation: scrollLoopReverse 9s linear infinite;
}
