@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keyframes for rightward scrolling */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Keyframes for leftward scrolling */
@keyframes scroll-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Classes for scrolling animations */
.animate-scroll {
  display: inline-flex;
  white-space: nowrap; /* Prevent content from wrapping */
  animation: scroll 20s linear infinite;
}

.animate-scroll-reverse {
  display: inline-flex;
  white-space: nowrap;
  animation: scroll-reverse 20s linear infinite;
}
