@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keyframes for scrolling */
/* Keyframes for scrolling left to right */
@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Keyframes for scrolling right to left */
@keyframes scrollLoopReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Continuous scrolling animation */
.animate-loop {
  display: flex;
  white-space: nowrap;
  animation: scrollLoop 9s linear infinite;
}

/* Continuous reverse scrolling animation */
.animate-loop-reverse {
  display: flex;
  white-space: nowrap;
  animation: scrollLoopReverse 9s linear infinite;
}
@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes marquee-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee-right {
  animation: marquee-right 120s linear infinite;
  display: flex;
  white-space: nowrap;
}

.animate-marquee-left {
  animation: marquee-left 120s linear infinite;
  display: flex;
  white-space: nowrap;
}

.animate-marquee-right > div,
.animate-marquee-left > div {
  flex-shrink: 0;
}
.card-container {
  perspective: 1000px; /* Adding perspective for a 3D effect */
}

.card {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped {
  transform: rotateY(180deg); /* Flip effect */
}

.card .front, .card .back {
  backface-visibility: hidden; /* Hide back side when flipped */
}

